:root {
    --blue: #102d4f;
}

@font-face {
    font-family: "Chatillon";
    src: url('assets/Chatillon-Regular.woff');
}

body {
    width: 80%;
    margin: auto;
    text-align: center;
    background-image: url('assets/background.jpg');
    background-size: cover;
}

h1 {
    margin-top: 0.65em;
    font-family: "Chatillon";
    color: var(--blue);
    letter-spacing: 0.1em;
}

p {
    font-family: "Open Sans";
    font-weight: 400;
}

strong {
    font-family: "Open sans";
    font-weight: 600;
    color: var(--blue);
}

button {
    background-color: var(--blue);
    border: none;
    font-family: "open sans";
    color: aliceblue;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

button:hover {
    cursor: pointer;
}

a {
    color: var(--blue);
    text-decoration: none;
}

.emblem {
    margin-top: 20px;
    width: 180px;
}

.joseph {
    width: 250px;
}

.icons {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.icons img {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-top: 10px;
}

.bottom {
    font-size: 0.8em;
    margin-bottom: 50px;
}

.dot {
    display: none;
}

@media (max-width: 500px) {
    .mobile-hide {
        display: none;
    }

    .dot {
        display: inline;
    }
}